<a href="https://colab.research.google.com/github/bilalrazak/Exploring-Yahooquery/blob/main/Yahooquery_Exploring.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!pip install yahooquery

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: yahooquery in /usr/local/lib/python3.10/dist-packages (2.3.1)
Requirement already satisfied: lxml>=4.9.1 in /usr/local/lib/python3.10/dist-packages (from yahooquery) (4.9.2)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.10/dist-packages (from yahooquery) (1.5.3)
Requirement already satisfied: requests-futures>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from yahooquery) (1.0.0)
Requirement already satisfied: tqdm>=4.54.1 in /usr/local/lib/python3.10/dist-packages (from yahooquery) (4.65.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.24.0->yahooquery) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.24.0->yahooquery) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.24.0->yahooquery) (1.22.4)
Requirement already satisfied: requests>=1.2.0 in /usr/local/lib/python3.10/dist-packages (from requests-futures>=1.0.0->yahooquery) (2.27.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas>=0.24.0->yahooquery) (1.16.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests>=1.2.0->requests-futures>=1.0.0->yahooquery) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests>=1.2.0->requests-futures>=1.0.0->yahooquery) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests>=1.2.0->requests-futures>=1.0.0->yahooquery) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests>=1.2.0->requests-futures>=1.0.0->yahooquery) (3.4)

In [3]:
import pandas as pd
import yahooquery as yq

In [4]:
dir(yq)

['Research',
 'Screener',
 'Ticker',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 'base',
 'get_currencies',
 'get_exchanges',
 'get_market_summary',
 'get_trending',
 'login',
 'misc',
 'name',
 'research',
 'screener',
 'search',
 'ticker',
 'utils']

In [5]:
aapl = yq.Ticker('aapl')
aapl

In [6]:
dir(aapl)

['CHUNK',
 'CORPORATE_EVENTS',
 'FUNDAMENTALS_OPTIONS',
 'FUNDAMENTALS_TIME_ARGS',
 'INTERVALS',
 'MODULES',
 'PERIODS',
 '_CONFIG',
 '_FUND_DETAILS',
 '_MODULES_DICT',
 '_STYLE_BOX',
 '_VIZ_CONFIG',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_adjust_ohlc',
 '_async_requests',
 '_chunk_symbols',
 '_construct_data',
 '_construct_params',
 '_construct_urls',
 '_country',
 '_default_query_params',
 '_financials',
 '_financials_dataframes',
 '_format_data',
 '_fund_holdings',
 '_get_data',
 '_get_symbol',
 '_historical_data_to_dataframe',
 '_history_1m',
 '_option_dataframe',
 '_quote_summary',
 '_quote_summary_dataframe',
 '_symbols',
 '_sync_requests',
 '_to_dataframe',
 '_validate_response',
 'all_financial_data',
 'all_modules',
 'asset_profile',
 'balance_sheet',
 'calendar_events',
 'cash_flow',
 'company_officers',
 'corporate_events',
 'corporate_guidance',
 'country',
 'crumb',
 'default_query_params',
 'dividend_history',
 'earning_history',
 'earnings',
 'earnings_trend',
 'esg_scores',
 'financial_data',
 'formatted',
 'fund_bond_holdings',
 'fund_bond_ratings',
 'fund_category_holdings',
 'fund_equity_holdings',
 'fund_holding_info',
 'fund_ownership',
 'fund_performance',
 'fund_profile',
 'fund_sector_weightings',
 'fund_top_holdings',
 'get_financial_data',
 'get_modules',
 'grading_history',
 'history',
 'income_statement',
 'index_trend',
 'industry_trend',
 'insider_holders',
 'insider_transactions',
 'institution_ownership',
 'invalid_symbols',
 'key_stats',
 'login',
 'major_holders',
 'news',
 'option_chain',
 'p_all_financial_data',
 'p_balance_sheet',
 'p_cash_flow',
 'p_company_360',
 'p_corporate_events',
 'p_fair_value',
 'p_get_financial_data',
 'p_ideas',
 'p_income_statement',
 'p_portal',
 'p_reports',
 'p_technical_events',
 'p_technical_insights',
 'p_valuation_measures',
 'p_value_analyzer',
 'p_value_analyzer_drilldown',
 'page_views',
 'price',
 'progress',
 'quote_type',
 'quotes',
 'recommendation_trend',
 'recommendations',
 'sec_filings',
 'session',
 'share_purchase_activity',
 'summary_detail',
 'summary_profile',
 'symbols',
 'technical_insights',
 'validation',
 'valuation_measures']

In [7]:
aapl.asset_profile

{'aapl': {'address1': 'One Apple Park Way',
  'city': 'Cupertino',
  'state': 'CA',
  'zip': '95014',
  'country': 'United States',
  'phone': '408 996 1010',
  'website': 'https://www.apple.com',
  'industry': 'Consumer Electronics',
  'industryDisp': 'Consumer Electronics',
  'sector': 'Technology',
  'longBusinessSummary': 'Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide. The company offers iPhone, a line of smartphones; Mac, a line of personal computers; iPad, a line of multi-purpose tablets; and wearables, home, and accessories comprising AirPods, Apple TV, Apple Watch, Beats products, and HomePod. It also provides AppleCare support and cloud services; and operates various platforms, including the App Store that allow customers to discover and download applications and digital content, such as books, music, video, games, and podcasts. In addition, the company offers various services, such as Apple Arcade, a game subscription service; Apple Fitness+, a personalized fitness service; Apple Music, which offers users a curated listening experience with on-demand radio stations; Apple News+, a subscription news and magazine service; Apple TV+, which offers exclusive original content; Apple Card, a co-branded credit card; and Apple Pay, a cashless payment service, as well as licenses its intellectual property. The company serves consumers, and small and mid-sized businesses; and the education, enterprise, and government markets. It distributes third-party applications for its products through the App Store. The company also sells its products through its retail and online stores, and direct sales force; and third-party cellular network carriers, wholesalers, retailers, and resellers. Apple Inc. was incorporated in 1977 and is headquartered in Cupertino, California.',
  'fullTimeEmployees': 164000,
  'companyOfficers': [{'maxAge': 1,
    'name': 'Mr. Timothy D. Cook',
    'age': 61,
    'title': 'CEO & Director',
    'yearBorn': 1961,
    'fiscalYear': 2022,
    'totalPay': 16425933,
    'exercisedValue': 0,
    'unexercisedValue': 0},
   {'maxAge': 1,
    'name': 'Mr. Luca  Maestri',
    'age': 59,
    'title': 'CFO & Sr. VP',
    'yearBorn': 1963,
    'fiscalYear': 2022,
    'totalPay': 5019783,
    'exercisedValue': 0,
    'unexercisedValue': 0},
   {'maxAge': 1,
    'name': 'Mr. Jeffrey E. Williams',
    'age': 58,
    'title': 'Chief Operating Officer',
    'yearBorn': 1964,
    'fiscalYear': 2022,
    'totalPay': 5018337,
    'exercisedValue': 0,
    'unexercisedValue': 0},
   {'maxAge': 1,
    'name': 'Ms. Katherine L. Adams',
    'age': 58,
    'title': 'Sr. VP, Gen. Counsel & Sec.',
    'yearBorn': 1964,
    'fiscalYear': 2022,
    'totalPay': 5015208,
    'exercisedValue': 0,
    'unexercisedValue': 0},
   {'maxAge': 1,
    'name': "Ms. Deirdre  O'Brien",
    'age': 55,
    'title': 'Sr. VP of Retail',
    'yearBorn': 1967,
    'fiscalYear': 2022,
    'totalPay': 5019783,
    'exercisedValue': 0,
    'unexercisedValue': 0},
   {'maxAge': 1,
    'name': 'Mr. Chris  Kondo',
    'title': 'Sr. Director of Corp. Accounting',
    'exercisedValue': 0,
    'unexercisedValue': 0},
   {'maxAge': 1,
    'name': 'Mr. James  Wilson',
    'title': 'Chief Technology Officer',
    'exercisedValue': 0,
    'unexercisedValue': 0},
   {'maxAge': 1,
    'name': 'Ms. Mary  Demby',
    'title': 'Chief Information Officer',
    'exercisedValue': 0,
    'unexercisedValue': 0},
   {'maxAge': 1,
    'name': 'Ms. Nancy  Paxton',
    'title': 'Sr. Director of Investor Relations & Treasury',
    'exercisedValue': 0,
    'unexercisedValue': 0},
   {'maxAge': 1,
    'name': 'Mr. Greg  Joswiak',
    'title': 'Sr. VP of Worldwide Marketing',
    'exercisedValue': 0,
    'unexercisedValue': 0}],
  'auditRisk': 4,
  'boardRisk': 1,
  'compensationRisk': 5,
  'shareHolderRightsRisk': 1,
  'overallRisk': 1,
  'governanceEpochDate': '2023-06-01 00:00:00',
  'compensationAsOfEpochDate': '2022-12-31 00:00:00',
  'maxAge': 86400}}

In [8]:
aapl.earnings

{'aapl': {'maxAge': 86400,
  'earningsChart': {'quarterly': [{'date': '2Q2022',
     'actual': 1.2,
     'estimate': 1.16},
    {'date': '3Q2022', 'actual': 1.29, 'estimate': 1.27},
    {'date': '4Q2022', 'actual': 1.88, 'estimate': 1.94},
    {'date': '1Q2023', 'actual': 1.52, 'estimate': 1.43}],
   'currentQuarterEstimate': 1.19,
   'currentQuarterEstimateDate': '2Q',
   'currentQuarterEstimateYear': 2023,
   'earningsDate': ['2023-07-26 20:00:S', '2023-07-31 20:00:S']},
  'financialsChart': {'yearly': [{'date': 2019,
     'revenue': 260174000000,
     'earnings': 55256000000},
    {'date': 2020, 'revenue': 274515000000, 'earnings': 57411000000},
    {'date': 2021, 'revenue': 365817000000, 'earnings': 94680000000},
    {'date': 2022, 'revenue': 394328000000, 'earnings': 99803000000}],
   'quarterly': [{'date': '2Q2022',
     'revenue': 82959000000,
     'earnings': 19442000000},
    {'date': '3Q2022', 'revenue': 90146000000, 'earnings': 20721000000},
    {'date': '4Q2022', 'revenue': 117154000000, 'earnings': 29998000000},
    {'date': '2Q2023', 'revenue': 0, 'earnings': 0}]},
  'financialCurrency': 'USD'}}

In [9]:
aapl.earning_history

            maxAge  epsActual  epsEstimate  epsDifference  surprisePercent  \
symbol row
aapl   0         1       1.20         1.16           0.04            0.034
       1         1       1.29         1.27           0.02            0.016
       2         1       1.88         1.94          -0.06           -0.031
       3         1       1.52         1.43           0.09            0.063

               quarter period
symbol row
aapl   0    2022-06-30    -4q
       1    2022-09-30    -3q
       2    2022-12-31    -2q
       3    2023-03-31    -1q

In [10]:
aapl.financial_data

{'aapl': {'maxAge': 86400,
  'currentPrice': 179.58,
  'targetHighPrice': 210.0,
  'targetLowPrice': 118.0,
  'targetMeanPrice': 182.14,
  'targetMedianPrice': 185.0,
  'recommendationMean': 2.0,
  'recommendationKey': 'buy',
  'numberOfAnalystOpinions': 38,
  'totalCash': 55872000000,
  'totalCashPerShare': 3.552,
  'ebitda': 123788001280,
  'totalDebt': 109614997504,
  'quickRatio': 0.764,
  'currentRatio': 0.94,
  'totalRevenue': 385095008256,
  'debtToEquity': 176.349,
  'revenuePerShare': 24.116,
  'returnOnAssets': 0.20559,
  'returnOnEquity': 1.4560499,
  'grossProfits': 170782000000,
  'freeCashflow': 83796623360,
  'operatingCashflow': 109583998976,
  'earningsGrowth': 0.0,
  'revenueGrowth': -0.025,
  'grossMargins': 0.43181,
  'ebitdaMargins': 0.32145,
  'operatingMargins': 0.29163,
  'profitMargins': 0.24493,
  'financialCurrency': 'USD'}}

In [16]:
data = pd.DataFrame(aapl.earnings['aapl']['financialsChart']['yearly'])
data.index = data['date']
data = data.drop(columns='date')
data

           revenue     earnings
date
2019  260174000000  55256000000
2020  274515000000  57411000000
2021  365817000000  94680000000
2022  394328000000  99803000000

In [17]:
data.pct_change()

       revenue  earnings
date
2019       NaN       NaN
2020  0.055121  0.039000
2021  0.332594  0.649161
2022  0.077938  0.054109

In [18]:
import yfinance as yf
data = yf.download("aapl")
data.head()

[*********************100%***********************]  1 of 1 completed

                Open      High       Low     Close  Adj Close     Volume
Date
1980-12-12  0.128348  0.128906  0.128348  0.128348   0.099584  469033600
1980-12-15  0.122210  0.122210  0.121652  0.121652   0.094388  175884800
1980-12-16  0.113281  0.113281  0.112723  0.112723   0.087461  105728000
1980-12-17  0.115513  0.116071  0.115513  0.115513   0.089625   86441600
1980-12-18  0.118862  0.119420  0.118862  0.118862   0.092224   73449600

In [28]:
aapl_key_stat = aapl.key_stats['aapl']
aapl_key_stat.keys()

dict_keys(['maxAge', 'priceHint', 'enterpriseValue', 'forwardPE', 'profitMargins', 'floatShares', 'sharesOutstanding', 'sharesShort', 'sharesShortPriorMonth', 'sharesShortPreviousMonthDate', 'dateShortInterest', 'sharesPercentSharesOut', 'heldPercentInsiders', 'heldPercentInstitutions', 'shortRatio', 'shortPercentOfFloat', 'beta', 'impliedSharesOutstanding', 'category', 'bookValue', 'priceToBook', 'fundFamily', 'legalType', 'lastFiscalYearEnd', 'nextFiscalYearEnd', 'mostRecentQuarter', 'earningsQuarterlyGrowth', 'netIncomeToCommon', 'trailingEps', 'forwardEps', 'pegRatio', 'lastSplitFactor', 'lastSplitDate', 'enterpriseToRevenue', 'enterpriseToEbitda', '52WeekChange', 'SandP52WeekChange', 'lastDividendValue', 'lastDividendDate'])

In [34]:
short_interest = aapl_key_stat['sharesShort']*100/aapl_key_stat['sharesOutstanding']
short_interest

0.6985876016064619

In [35]:
previous_close = aapl.summary_detail['aapl']['previousClose']
previous_close

179.58

In [39]:
aapl.all_modules['aapl'].keys()

dict_keys(['assetProfile', 'recommendationTrend', 'cashflowStatementHistory', 'indexTrend', 'defaultKeyStatistics', 'industryTrend', 'quoteType', 'incomeStatementHistory', 'fundOwnership', 'summaryDetail', 'insiderHolders', 'calendarEvents', 'upgradeDowngradeHistory', 'price', 'balanceSheetHistory', 'earningsTrend', 'secFilings', 'institutionOwnership', 'majorHoldersBreakdown', 'balanceSheetHistoryQuarterly', 'earningsHistory', 'esgScores', 'summaryProfile', 'netSharePurchaseActivity', 'insiderTransactions', 'sectorTrend', 'incomeStatementHistoryQuarterly', 'cashflowStatementHistoryQuarterly', 'earnings', 'pageViews', 'financialData'])

In [41]:
aapl_bs = aapl.balance_sheet()
aapl_is = aapl.income_statement()
aapl_cf = aapl.cash_flow()
aapl_val_measures = aapl.valuation_measures

In [51]:
aapl_bs

,asOfDate,periodType,currencyCode,AccountsPayable,AccountsReceivable,AccumulatedDepreciation,AvailableForSaleSecurities,CapitalStock,CashAndCashEquivalents,CashCashEquivalentsAndShortTermInvestments,...,TangibleBookValue,TotalAssets,TotalCapitalization,TotalDebt,TotalEquityGrossMinorityInterest,TotalLiabilitiesNetMinorityInterest,TotalNonCurrentAssets,TotalNonCurrentLiabilitiesNetMinorityInterest,TradeandOtherPayablesNonCurrent,WorkingCapital
symbol,,,,,,,,,,,,,,,,,,,,,
aapl,2019-09-30,12M,USD,4.623600e+10,2.292600e+10,-5.857900e+10,1.053410e+11,4.517400e+10,4.884400e+10,1.005570e+11,...,9.048800e+10,3.385160e+11,1.822950e+11,1.080470e+11,9.048800e+10,2.480280e+11,1.756970e+11,1.423100e+11,2.954500e+10,5.710100e+10
aapl,2020-09-30,12M,USD,4.229600e+10,1.612000e+10,-6.676000e+10,1.008870e+11,5.077900e+10,3.801600e+10,9.094300e+10,...,6.533900e+10,3.238880e+11,1.640060e+11,1.124360e+11,6.533900e+10,2.585490e+11,1.801750e+11,1.531570e+11,2.817000e+10,3.832100e+10
aapl,2021-09-30,12M,USD,5.476300e+10,2.627800e+10,-7.028300e+10,1.278770e+11,5.736500e+10,3.494000e+10,6.263900e+10,...,6.309000e+10,3.510020e+11,1.721960e+11,1.247190e+11,6.309000e+10,2.879120e+11,2.161660e+11,1.624310e+11,2.468900e+10,9.355000e+09
aapl,2022-09-30,12M,USD,6.411500e+10,2.818400e+10,-7.234000e+10,1.208050e+11,6.484900e+10,2.364600e+10,4.830400e+10,...,5.067200e+10,3.527550e+11,1.496310e+11,1.200690e+11,5.067200e+10,3.020830e+11,2.173500e+11,1.481010e+11,1.665700e+10,-1.857700e+10

In [45]:
aapl_bs.columns

Index(['asOfDate', 'periodType', 'currencyCode', 'AccountsPayable',
       'AccountsReceivable', 'AccumulatedDepreciation',
       'AvailableForSaleSecurities', 'CapitalStock', 'CashAndCashEquivalents',
       'CashCashEquivalentsAndShortTermInvestments', 'CashEquivalents',
       'CashFinancial', 'CommercialPaper', 'CommonStock', 'CommonStockEquity',
       'CurrentAssets', 'CurrentDebt', 'CurrentDebtAndCapitalLeaseObligation',
       'CurrentDeferredLiabilities', 'CurrentDeferredRevenue',
       'CurrentLiabilities', 'GainsLossesNotAffectingRetainedEarnings',
       'GrossPPE', 'Inventory', 'InvestedCapital',
       'InvestmentinFinancialAssets', 'InvestmentsAndAdvances',
       'LandAndImprovements', 'Leases', 'LongTermDebt',
       'LongTermDebtAndCapitalLeaseObligation', 'MachineryFurnitureEquipment',
       'NetDebt', 'NetPPE', 'NetTangibleAssets', 'OrdinarySharesNumber',
       'OtherCurrentAssets', 'OtherCurrentBorrowings',
       'OtherCurrentLiabilities', 'OtherInvestments', 'OtherNonCurrentAssets',
       'OtherNonCurrentLiabilities', 'OtherReceivables',
       'OtherShortTermInvestments', 'Payables', 'PayablesAndAccruedExpenses',
       'Properties', 'Receivables', 'RetainedEarnings', 'ShareIssued',
       'StockholdersEquity', 'TangibleBookValue', 'TotalAssets',
       'TotalCapitalization', 'TotalDebt', 'TotalEquityGrossMinorityInterest',
       'TotalLiabilitiesNetMinorityInterest', 'TotalNonCurrentAssets',
       'TotalNonCurrentLiabilitiesNetMinorityInterest',
       'TradeandOtherPayablesNonCurrent', 'WorkingCapital'],
      dtype='object')

In [46]:
aapl_is.columns

Index(['asOfDate', 'periodType', 'currencyCode', 'BasicAverageShares',
       'BasicEPS', 'CostOfRevenue', 'DilutedAverageShares', 'DilutedEPS',
       'DilutedNIAvailtoComStockholders', 'EBIT', 'EBITDA', 'GrossProfit',
       'InterestExpense', 'InterestExpenseNonOperating', 'InterestIncome',
       'InterestIncomeNonOperating', 'NetIncome',
       'NetIncomeCommonStockholders', 'NetIncomeContinuousOperations',
       'NetIncomeFromContinuingAndDiscontinuedOperation',
       'NetIncomeFromContinuingOperationNetMinorityInterest',
       'NetIncomeIncludingNoncontrollingInterests', 'NetInterestIncome',
       'NetNonOperatingInterestIncomeExpense', 'NormalizedEBITDA',
       'NormalizedIncome', 'OperatingExpense', 'OperatingIncome',
       'OperatingRevenue', 'OtherIncomeExpense',
       'OtherNonOperatingIncomeExpenses', 'PretaxIncome',
       'ReconciledCostOfRevenue', 'ReconciledDepreciation',
       'ResearchAndDevelopment', 'SellingGeneralAndAdministration',
       'TaxEffectOfUnusualItems', 'TaxProvision', 'TaxRateForCalcs',
       'TotalExpenses', 'TotalOperatingIncomeAsReported', 'TotalRevenue'],
      dtype='object')

In [47]:
aapl_cf.columns

Index(['asOfDate', 'periodType', 'currencyCode', 'BeginningCashPosition',
       'CapitalExpenditure', 'CashDividendsPaid',
       'CashFlowFromContinuingFinancingActivities',
       'CashFlowFromContinuingInvestingActivities',
       'CashFlowFromContinuingOperatingActivities', 'ChangeInAccountPayable',
       'ChangeInCashSupplementalAsReported', 'ChangeInInventory',
       'ChangeInOtherCurrentAssets', 'ChangeInOtherCurrentLiabilities',
       'ChangeInOtherWorkingCapital', 'ChangeInPayable',
       'ChangeInPayablesAndAccruedExpense', 'ChangeInReceivables',
       'ChangeInWorkingCapital', 'ChangesInAccountReceivables',
       'ChangesInCash', 'CommonStockDividendPaid', 'CommonStockIssuance',
       'CommonStockPayments', 'DeferredIncomeTax', 'DeferredTax',
       'DepreciationAmortizationDepletion', 'DepreciationAndAmortization',
       'EndCashPosition', 'FinancingCashFlow', 'FreeCashFlow',
       'IncomeTaxPaidSupplementalData', 'InterestPaidSupplementalData',
       'InvestingCashFlow', 'IssuanceOfCapitalStock', 'IssuanceOfDebt',
       'LongTermDebtIssuance', 'LongTermDebtPayments',
       'NetBusinessPurchaseAndSale', 'NetCommonStockIssuance', 'NetIncome',
       'NetIncomeFromContinuingOperations', 'NetInvestmentPurchaseAndSale',
       'NetIssuancePaymentsOfDebt', 'NetLongTermDebtIssuance',
       'NetOtherFinancingCharges', 'NetOtherInvestingChanges',
       'NetPPEPurchaseAndSale', 'NetShortTermDebtIssuance',
       'OperatingCashFlow', 'OtherNonCashItems', 'PurchaseOfBusiness',
       'PurchaseOfInvestment', 'PurchaseOfPPE', 'RepaymentOfDebt',
       'RepurchaseOfCapitalStock', 'SaleOfInvestment', 'ShortTermDebtIssuance',
       'ShortTermDebtPayments', 'StockBasedCompensation'],
      dtype='object')

In [68]:
aapl_val_measures

,asOfDate,periodType,EnterpriseValue,EnterprisesValueEBITDARatio,EnterprisesValueRevenueRatio,ForwardPeRatio,MarketCap,PbRatio,PeRatio,PegRatio,PsRatio
symbol,,,,,,,,,,,
aapl,2022-03-31,3M,2.888888e+12,88.302007,29.697243,29.0698,2.830003e+12,39.342761,28.956882,3.3744,7.715197
aapl,2022-06-30,3M,2.269030e+12,87.671654,27.351223,21.5517,2.200560e+12,32.649744,22.230894,2.3765,5.874047
aapl,2022-09-30,3M,2.274841e+12,81.949686,25.235078,21.8341,2.203381e+12,37.919379,22.842975,2.4734,5.867952
aapl,2022-12-31,3M,2.138707e+12,54.934418,18.255516,21.2766,2.066942e+12,40.622118,21.265139,2.5328,5.379313
aapl,2023-03-31,3M,2.668794e+12,85.494423,28.141148,27.8552,2.609039e+12,45.992894,27.996604,2.7875,6.886811
aapl,2023-06-05,TTM,2.878303e+12,NaN,NaN,27.1739,2.824560e+12,45.441621,30.437288,2.4562,7.482609
aapl,2023-06-06,TTM,NaN,22.719083,7.474268,NaN,NaN,NaN,NaN,NaN,NaN

In [52]:
aapl_ev = aapl_val_measures['EnterpriseValue'][-1]
aapl_ebitda = aapl_is['EBITDA'][-1]
aapl_capex = aapl_cf['CapitalExpenditure'][-1]
ev_ebitda_capex_ratio = aapl_ev/(aapl_ebitda - aapl_capex)
ev_ebitda_capex_ratio

nan

In [58]:
help(aapl.get_financial_data)

Help on method get_financial_data in module yahooquery.ticker:

get_financial_data(types, frequency='a', trailing=True) method of yahooquery.ticker.Ticker instance
    Obtain specific data from either cash flow, income statement,
    balance sheet, or valuation measures.

    Notes
    -----
    See available options to pass to method through FUNDAMENTALS_OPTIONS

    Parameters
    ----------
    types: list or str
        Desired types of data for retrieval
    frequency: str, default 'a', optional
        Specify either annual or quarterly.  Value should be 'a' or 'q'.
    trailing: bool, default True, optional
        Specify whether or not you'd like trailing twelve month (TTM)
        data returned

    Raises
    ------
    ValueError
        If invalid type is specified

In [67]:
financials_needed = ['EnterpriseValue', 'EBITDA', 'CapitalExpenditure', 'TotalRevenue', 'NetIncome']
aapl.get_financial_data(financials_needed,'a')

,asOfDate,periodType,currencyCode,CapitalExpenditure,EBITDA,NetIncome,TotalRevenue
symbol,,,,,,,
aapl,2019-09-30,12M,USD,-1.049500e+10,NaN,5.525600e+10,2.601740e+11
aapl,2020-09-30,12M,USD,-7.309000e+09,NaN,5.741100e+10,2.745150e+11
aapl,2021-09-30,12M,USD,-1.108500e+10,NaN,9.468000e+10,3.658170e+11
aapl,2022-09-30,12M,USD,-1.070800e+10,NaN,9.980300e+10,3.943280e+11
aapl,2022-12-31,TTM,USD,-1.169200e+10,1.280480e+11,9.517100e+10,3.875370e+11
aapl,2023-03-31,TTM,USD,-1.209400e+10,1.266910e+11,9.432100e+10,3.850950e+11

In [78]:
aapl_cashflow_hist = pd.DataFrame(aapl.get_modules(['cashflowStatementHistory'])['aapl']['cashflowStatements'])
aapl_cashflow_hist.columns

Index(['maxAge', 'endDate', 'netIncome', 'depreciation', 'changeToNetincome',
       'changeToAccountReceivables', 'changeToLiabilities',
       'changeToInventory', 'changeToOperatingActivities',
       'totalCashFromOperatingActivities', 'capitalExpenditures',
       'investments', 'otherCashflowsFromInvestingActivities',
       'totalCashflowsFromInvestingActivities', 'dividendsPaid',
       'netBorrowings', 'otherCashflowsFromFinancingActivities',
       'totalCashFromFinancingActivities', 'changeInCash', 'repurchaseOfStock',
       'issuanceOfStock'],
      dtype='object')

In [91]:
aapl_cashflow_hist[['endDate', 'depreciation', 'changeToNetincome', 'capitalExpenditures']]

,endDate,netIncome,depreciation,changeToNetincome,capitalExpenditures
0,2022-09-24,99803000000,11104000000,10044000000,-10708000000
1,2021-09-25,94680000000,11284000000,2985000000,-11085000000
2,2020-09-26,57411000000,11056000000,6517000000,-7309000000
3,2019-09-28,55256000000,12547000000,5076000000,-10495000000

In [89]:
aapl_income_stat_hist = pd.DataFrame(aapl.get_modules(['incomeStatementHistory'])['aapl']['incomeStatementHistory'])
aapl_income_stat_hist.columns

Index(['maxAge', 'endDate', 'totalRevenue', 'costOfRevenue', 'grossProfit',
       'researchDevelopment', 'sellingGeneralAdministrative', 'nonRecurring',
       'otherOperatingExpenses', 'totalOperatingExpenses', 'operatingIncome',
       'totalOtherIncomeExpenseNet', 'ebit', 'interestExpense',
       'incomeBeforeTax', 'incomeTaxExpense', 'minorityInterest',
       'netIncomeFromContinuingOps', 'discontinuedOperations',
       'extraordinaryItems', 'effectOfAccountingCharges', 'otherItems',
       'netIncome', 'netIncomeApplicableToCommonShares'],
      dtype='object')

In [90]:
aapl_income_stat_hist[['endDate', 'totalRevenue', 'operatingIncome', 'ebit', 'netIncome']]

      endDate  totalRevenue  operatingIncome          ebit    netIncome
0  2022-09-24  394328000000     119437000000  119437000000  99803000000
1  2021-09-25  365817000000     108949000000  108949000000  94680000000
2  2020-09-26  274515000000      66288000000   66288000000  57411000000
3  2019-09-28  260174000000      63930000000   63930000000  55256000000

In [100]:
aapl_balance_sheet_hist = pd.DataFrame(aapl.get_modules(['balanceSheetHistory'])['aapl']['balanceSheetStatements'])
aapl_balance_sheet_hist.columns

Index(['maxAge', 'endDate', 'cash', 'shortTermInvestments', 'netReceivables',
       'inventory', 'otherCurrentAssets', 'totalCurrentAssets',
       'longTermInvestments', 'propertyPlantEquipment', 'otherAssets',
       'totalAssets', 'accountsPayable', 'shortLongTermDebt',
       'otherCurrentLiab', 'longTermDebt', 'otherLiab',
       'totalCurrentLiabilities', 'totalLiab', 'commonStock',
       'retainedEarnings', 'treasuryStock', 'otherStockholderEquity',
       'totalStockholderEquity', 'netTangibleAssets'],
      dtype='object')

In [102]:
aapl_earnings_hist = pd.DataFrame(aapl.get_modules(['earningsHistory'])['aapl']['history'])
aapl_earnings_hist

,maxAge,epsActual,epsEstimate,epsDifference,surprisePercent,quarter,period
0,1,1.20,1.16,0.04,0.034,2022-06-30,-4q
1,1,1.29,1.27,0.02,0.016,2022-09-30,-3q
2,1,1.88,1.94,-0.06,-0.031,2022-12-31,-2q
3,1,1.52,1.43,0.09,0.063,2023-03-31,-1q

In [105]:
aapl.get_modules(['financialData'])

{'aapl': {'maxAge': 86400,
  'currentPrice': 179.1942,
  'targetHighPrice': 210.0,
  'targetLowPrice': 118.0,
  'targetMeanPrice': 182.14,
  'targetMedianPrice': 185.0,
  'recommendationMean': 2.0,
  'recommendationKey': 'buy',
  'numberOfAnalystOpinions': 38,
  'totalCash': 55872000000,
  'totalCashPerShare': 3.552,
  'ebitda': 123788001280,
  'totalDebt': 109614997504,
  'quickRatio': 0.764,
  'currentRatio': 0.94,
  'totalRevenue': 385095008256,
  'debtToEquity': 176.349,
  'revenuePerShare': 24.116,
  'returnOnAssets': 0.20559,
  'returnOnEquity': 1.4560499,
  'grossProfits': 170782000000,
  'freeCashflow': 83796623360,
  'operatingCashflow': 109583998976,
  'earningsGrowth': 0.0,
  'revenueGrowth': -0.025,
  'grossMargins': 0.43181,
  'ebitdaMargins': 0.32145,
  'operatingMargins': 0.29163,
  'profitMargins': 0.24493,
  'financialCurrency': 'USD'}}

In [108]:
snp = yq.Ticker('^GSPC')
snp

In [121]:
snp.all_modules['^GSPC'].keys()

dict_keys(['summaryDetail', 'quoteType', 'price'])

In [124]:
aapl_qis_hist = pd.DataFrame(aapl.get_modules(['incomeStatementHistoryQuarterly'])['aapl']['incomeStatementHistory'])
aapl_qis_hist

,maxAge,endDate,totalRevenue,costOfRevenue,grossProfit,researchDevelopment,sellingGeneralAdministrative,nonRecurring,otherOperatingExpenses,totalOperatingExpenses,...,incomeBeforeTax,incomeTaxExpense,minorityInterest,netIncomeFromContinuingOps,discontinuedOperations,extraordinaryItems,effectOfAccountingCharges,otherItems,netIncome,netIncomeApplicableToCommonShares
0,1,2023-04-01,0,0,0,{},{},{},{},0,...,{},0,{},{},{},{},{},{},0,{}
1,1,2022-12-31,117154000000,66822000000,50332000000,7709000000,6607000000,{},{},81138000000,...,35623000000,5625000000,{},29998000000,{},{},{},{},29998000000,29998000000
2,1,2022-09-24,90146000000,52051000000,38095000000,6761000000,6440000000,{},{},65252000000,...,24657000000,3936000000,{},20721000000,{},{},{},{},20721000000,20721000000
3,1,2022-06-25,82959000000,47074000000,35885000000,6797000000,6012000000,{},{},59883000000,...,23066000000,3624000000,{},19442000000,{},{},{},{},19442000000,19442000000

In [144]:
aapl.all_financial_data().columns[-50:]

Index(['OperatingRevenue', 'OrdinarySharesNumber', 'OtherCurrentAssets',
       'OtherCurrentBorrowings', 'OtherCurrentLiabilities',
       'OtherIncomeExpense', 'OtherInvestments', 'OtherNonCashItems',
       'OtherNonCurrentAssets', 'OtherNonCurrentLiabilities',
       'OtherNonOperatingIncomeExpenses', 'OtherReceivables',
       'OtherShortTermInvestments', 'Payables', 'PayablesAndAccruedExpenses',
       'PretaxIncome', 'Properties', 'PurchaseOfBusiness',
       'PurchaseOfInvestment', 'PurchaseOfPPE', 'Receivables',
       'ReconciledCostOfRevenue', 'ReconciledDepreciation', 'RepaymentOfDebt',
       'RepurchaseOfCapitalStock', 'ResearchAndDevelopment',
       'RetainedEarnings', 'SaleOfInvestment',
       'SellingGeneralAndAdministration', 'ShareIssued',
       'ShortTermDebtIssuance', 'ShortTermDebtPayments',
       'StockBasedCompensation', 'StockholdersEquity', 'TangibleBookValue',
       'TaxEffectOfUnusualItems', 'TaxProvision', 'TaxRateForCalcs',
       'TotalAssets', 'TotalCapitalization', 'TotalDebt',
       'TotalEquityGrossMinorityInterest', 'TotalExpenses',
       'TotalLiabilitiesNetMinorityInterest', 'TotalNonCurrentAssets',
       'TotalNonCurrentLiabilitiesNetMinorityInterest',
       'TotalOperatingIncomeAsReported', 'TotalRevenue',
       'TradeandOtherPayablesNonCurrent', 'WorkingCapital'],
      dtype='object')

In [132]:
aapl.all_modules['aapl']['summaryProfile'].keys()

dict_keys(['address1', 'city', 'state', 'zip', 'country', 'phone', 'website', 'industry', 'industryDisp', 'sector', 'longBusinessSummary', 'fullTimeEmployees', 'companyOfficers', 'maxAge'])

In [145]:
aapl.corporate_events

                        id significance  \
symbol date
aapl   2013-07-23  2799364            3
       2013-10-28  2856338            3
       2014-01-27  2910422            3
       2014-04-23  2972429            1
       2014-07-22  3034175            3
...                    ...          ...
       2021-11-06  4466942            1
       2022-01-27  4498424            1
       2022-02-10  4503980            1
       2022-03-08  4516388            1
       2022-10-27  4613461            1

                                                            headline  \
symbol date
aapl   2013-07-23                  Apple Inc Declares Cash Dividend
       2013-10-28                  Apple Inc Declares Cash Dividend
       2014-01-27                  Apple Inc declares cash dividend
       2014-04-23  Apple announces share repurchase and increase ...
       2014-07-22                   Apple Inc declares cash dividend
...                                                              ...
       2021-11-06  Berkshire Hathaway Says It Ended September Wit...
       2022-01-27  Apple CFO Expects Sales Hit In Current Quarter...
       2022-02-10  Twitter Expects 2022 Revenue To Grow In The Lo...
       2022-03-08     Apple Announces New iPhone SE Starting At $429
       2022-10-27   Apple Inc Reports Q4 Earnings Per Share Of $1.29

                                                         description  \
symbol date
aapl   2013-07-23  Apple Inc announced that the Board of Director...
       2013-10-28  Apple Inc announced that its Board of Director...
       2014-01-27  Apple Inc:Says its board of directors has decl...
       2014-04-23  Apple Inc:Increased its share repurchase autho...
       2014-07-22  Apple Inc:Declares a cash dividend of $.47 per...
...                                                              ...
       2021-11-06  Nov 6 (Reuters) - Berkshire Hathaway Inc- Berk...
       2022-01-27  Jan 27 (Reuters) - APPLE CFO::APPLE CFO SAYS '...
       2022-02-10  Feb 10 (Reuters) - :TWITTER INC - SEES 2022 RE...
       2022-03-08  March 8 (Reuters) - Apple Inc <AAPL.O>::APPLE ...
       2022-10-27  Oct 27 (Reuters) - Apple Inc <AAPL.O>::QTRLY E...

                         parentTopics
symbol date
aapl   2013-07-23         Performance
       2013-10-28         Performance
       2014-01-27         Performance
       2014-04-23   Ownership/Control
       2014-07-22         Performance
...                               ...
       2021-11-06  Corporate Guidance
       2022-01-27  Corporate Guidance
       2022-02-10  Corporate Guidance
       2022-03-08  Corporate Guidance
       2022-10-27  Corporate Guidance

[174 rows x 5 columns]